<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Flagella</title>
		<!-- Framework CSS -->
		<link rel="stylesheet" href="./stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="./stylesheets/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]><link rel="stylesheet" href="./stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

		<link rel="stylesheet" href="./stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
		
        <link rel="stylesheet" href="./stylesheets/syntax.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="./stylesheets/style.css" type="text/css" media="screen, projection">
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>Flagella</h1>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='http://github.com/vlandham' target='_blank' rel='me'>GitHub</a></li>
        </ul>
      </div>
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
    <div id='footer'>
    	<p>Jim Vallandingham<br/>
    	    vlandham<br/>
    	<a href="mailto:&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#118;&#108;&#097;&#110;&#100;&#104;&#097;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p>
        <!-- http://www.wbwip.com/wbw/emailencoder.html -->
    </div>
    </div>
  </body>
</html>

